<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>intro</title>
  </head>
  <body>
    <div id="app">
      {{ nama }} <br>
      {{ umur }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js" charset="utf-8"></script>
    <script type="text/javascript">
      new Vue({
        el:'#app',
        data:{
          nama:"nadzar",
          umur:125
        }
      });
    </script>

  </body>
</html>
