<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Data Binding</title>
  </head>
  <body>
    <div id="app">
      {{ nama }} <br>
      {{ umur }} <br>
      {{ life ? "Still Alive" : "he/she is gonner"}}
      {{ raw }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js" charset="utf-8"></script>
    <script type="text/javascript">
      var vo = new Vue({
        el:'#app',
        data:{
          nama:"nadzar",
          umur:125,
          life:true,
          raw:'<br> Inmate'
        }
      });
    </script>

  </body>
</html>
