<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Computed Properties</title>
  </head>
  <body>
    <div id="app">
      {{ biodata }} <br>
      {{ life? "still Alive" : "Died" }}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js" charset="utf-8"></script>
    <script type="text/javascript">
      var vo = new Vue({
        el:'#app',
        data:{
          nama:"nadzar",
          umur:125,
          life:true,
          sisa_umur:0,
        },
        computed:{
          biodata:{
            get:function(){
              return this.nama+ " " + "umur:" + this.umur
            },
            set:function(params){
              var cred = params.split(' ');
              this.nama = cred[0]
              this.umur = cred[1]
              this.life = cred[2]
            }
          }
        }
      });
    </script>

  </body>
</html>
