<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Loop list & methods</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(members,index ) in member" track-by ="index">
          {{ members.nama }} - {{ members.umur }} - {{ index }}
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js" charset="utf-8"></script>
    <script type="text/javascript">
      var vo = new Vue({
        el:'#app',
        data:{
            member : [
              {nama:"saputra",umur:12},
              {nama:"saputri",umur:13}
            ]
        },
      });
    </script>

  </body>
</html>
