<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>input binding</title>
  </head>
  <body>
    <div id="app">
      <h5>Single Line</h5>
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
      <br>
      <h5>multy Line</h5>
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message_multy_lines }}</p>
        <br>
        <textarea v-model="message_multy_lines" placeholder="add multiple lines"></textarea>
      <h5>checkbox</h5>
      <input type="checkbox" id="checkbox" v-model="checked">
      <label for="checkbox">{{ checked }}</label>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js" charset="utf-8"></script>
    <script type="text/javascript">
      var vo = new Vue({
        el:'#app',
        data:{
          message:'',
          message_multy_lines:'',
          checked:false,
        },
      });
    </script>

  </body>
</html>
